.recipe-content{
    display: inline-block;
    width:478px;
    margin-top:15px;
    padding:0px;
}

img{
    display:inline-block;
    width:300px;
    height:370px;
    vertical-align: top;
    margin-top:15px;
}


h1{
    font-size: 30px;
    color:olivedrab;
    text-align: center;
}

h2{
    color:darkolivegreen;
    background-color:palegoldenrod;
    text-align: center;
    margin-top:0px
}

